body {
  background-color: #788b90;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fondo > img {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

@media (max-width: 800px) {
  .fondo > img {
    height: 100%;
    width: auto;
  }
  .como-funciona-cuerpo {
    width: 80%;
  }
}

.menu {
  position: fixed;
  width: 100%;
  top: 0%;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgb(5, 19, 27) 3.13%,
    rgba(69.92, 76.07, 79.53, 0) 100%
  );
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.menu .menu-logo-aire-sano {
  padding: 30px;
  width: 50px;
  height: 50px;
}

.menu .menu-icono-menu {
  display: block;
  position: absolute;
  padding: 15px;
  width: 80px;
  height: 80px;
  right: 0%;
  cursor: pointer;
}

.Registro {
  padding: 30px;
  margin: auto;
  width: 400px;
  margin-top: 200px;
  background: #ffffff;
  border-radius: 18px;
  font-family: "Lato", Helvetica;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Registro .registro-titulo {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
}

.Registro input {
  width: 100%;
  padding: 12px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Registro input:focus {
  border: 1px solid rgba(120, 139, 144, 1);
}

.Registro a {
  font-size: smaller;
}

.button {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 43%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(120, 139, 144, 1);
}

.button:hover {
  background-color: rgba(68, 79, 82, 1);
}

.footer-container {
  position: fixed;
  width: 100%;
  height: 150px;
  transform: rotate(-180deg);
  background: linear-gradient(
    180deg,
    rgb(7.52, 30.02, 42.68) 3.13%,
    rgba(69.92, 76.07, 79.53, 0) 100%
  );
  bottom: 0;
}
.footer-container > footer {
  padding-left: 2.2vw;
  padding-bottom: 1.5vw;
  transform: rotate(-180deg);
  display: flex;
  flex-direction: row;
}
.correo {
  width: 40%;
  font-family: "Lato", Helvetica;
  color: #ffffff;
  font-size: 1vw;
  text-align: justify;
}

.icono-mail {
  position: absolute;
  width: 60px;
  right: 20px;
  bottom: 25px;
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #ebebeb;
  padding-top: 60px; /* Ajusta según la altura del encabezado del menú */
  color: #fff;
  z-index: 2;
}

#menu a {
  font-family: "Jura", Helvetica;
  font-size: 15px;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000000;
}

#menu a:hover {
  color: #fff;
  background-color: #68767a;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
}

#menu img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  cursor: pointer;
  opacity: 0.6;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}
